<html>
  <head>
    <meta charset='utf-8' />
    <title>Підтвердження електронної пошти</title>
  </head>
  <body>
    <h1>Ласкаво просимо до Sniff!</h1>
    <p>
      Дякуємо за реєстрацію. Щоб завершити реєстрацію, будь ласка, підтвердіть
      вашу електронну пошту, перейшовши за посиланням нижче:
    </p>
    <a href='{{confirmationUrl}}' target='_blank'>Підтвердити email</a>
    <p>
      Якщо кнопка не працює, скопіюйте та вставте наступне посилання у ваш
      браузер:
    </p>
    <p>{{confirmationUrl}}</p>
    <p>З повагою, команда Sniff.</p>
  </body>
</html>
