<html>
  <head>
    <meta charset='utf-8' />
    <title>Відновлення пароля</title>
  </head>
  <body>
    <h1>Ласкаво просимо до Sniff!</h1>
    <p>
      Ви отримали цей лист, оскільки ми отримали запит на відновлення пароля для
      вашого акаунта. Щоб змінити ваш пароль, будь ласка, перейшовши за
      посиланням нижче:
    </p>
    <a href='{{resetUrl}}' target='_blank'>Відновити пароль</a>
    <p>
      Якщо кнопка не працює, скопіюйте та вставте наступне посилання у ваш
      браузер:
    </p>
    <p>{{resetUrl}}</p>
    <p>З повагою, команда Sniff.</p>
  </body>
</html>